#ct-gallery.ct-bottomBorder.ct-borderAnother:after { border-color: #1b1b1c; }

/****************Motive color style*******************/

.ct-u-background--motive { background-color: #dd9716 !important; }
.ct-u-color--motive { color: #dd9716 !important; }
.slick-dots li button:before { color: #dd9716; }
.slick-dots li.slick-active button:before { color: #dd9716; }
nav.navbar.navbar-default.ct-centeredMenu ul.nav.navbar-nav > li:before { background-color: #dd9716; }
nav.navbar.navbar-default.ct-centeredMenu ul.nav.navbar-nav li.dropdown:hover > .dropdown-menu li:hover, nav.navbar.navbar-default.ct-centeredMenu ul.nav.navbar-nav li.dropdown:hover > .dropdown-menu li:focus, nav.navbar.navbar-default.ct-centeredMenu ul.nav.navbar-nav li.dropdown:hover > .dropdown-menu li:active {
    background-color: #dd9716;
}
nav.navbar.navbar-default.ct-centeredMenu ul.nav.navbar-nav li.dropdown:hover > .dropdown-menu .dropdown:hover > .dropdown-menu li:hover, nav.navbar.navbar-default.ct-centeredMenu ul.nav.navbar-nav li.dropdown:hover > .dropdown-menu .dropdown:hover > .dropdown-menu li:focus, nav.navbar.navbar-default.ct-centeredMenu ul.nav.navbar-nav li.dropdown:hover > .dropdown-menu .dropdown:hover > .dropdown-menu li:active {
    background-color: #dd9716;
}
.ct-footer .ct-preFooter .ct-contactBox ul li i { color: #dd9716; }
.ct-footer .ct-preFooter .ct-followBox ul li a:hover, .ct-footer .ct-preFooter .ct-followBox ul li a:focus, .ct-footer .ct-preFooter .ct-followBox ul li a:active { color: #dd9716; }
.ct-footer .ct-preFooter .ct-followBox ul li a:hover + i, .ct-footer .ct-preFooter .ct-followBox ul li a:focus + i, .ct-footer .ct-preFooter .ct-followBox ul li a:active + i {  color: #dd9716; }
.ct-footer .ct-preFooter .ct-headerBottom {  color: #dd9716; }
.ct-footer .ct-postFooter ul.ct-map-links li a:hover span, .ct-footer .ct-postFooter ul.ct-map-links li a:focus span { color: #dd9716; }
.ct-js-btnScrollUp:before {  border-color: transparent transparent #dd9716 transparent; }
.form-control.input-typeFirst:focus, .form-control.input-typeFirst:active { border-color: #dd9716; }
.form-control.input-typeSecond:focus, .form-control.input-typeSecond:active { border-color: #dd9716; }
.form-control.input-typeThird:focus, .form-control.input-typeThird:active { border-color: #dd9716; }
.form-control.input-typeFour:focus, .form-control.input-typeFour:active { border-color: #dd9716; }
.btn.btn-primary { background-color: #dd9716 !important; }
.btn.btn-primary:active, .btn.btn-primary:hover, .btn.btn-primary:focus { color: #dd9716 !important; }
.btn.btn-primary:active.btn-border:before, .btn.btn-primary:hover.btn-border:before, .btn.btn-primary:focus.btn-border:before { border-color: #dd9716 !important; }
.ct-accordionList .panel-group .panel .panel-heading .panel-title a { color: #dd9716; }
.ct-accordionList .panel-group .panel .panel-heading .panel-title a:before { color: #dd9716; }
.ct-accordionList .panel-group .panel .panel-heading .panel-title a:hover, .ct-accordionList .panel-group .panel .panel-heading .panel-title a:active, .ct-accordionList .panel-group .panel .panel-heading .panel-title a:focus {  color: #dd9716; }
.ct-accordionList .panel-group .panel .panel-heading .panel-title a:hover:before, .ct-accordionList .panel-group .panel .panel-heading .panel-title a:active:before, .ct-accordionList .panel-group .panel .panel-heading .panel-title a:focus:before { color: #dd9716; }
mark { color: #dd9716; }
.ct-events .ct-tabsTop ul > li .ct-content span { color: #dd9716; }
.ct-events .ct-tabsBottom .tab-content .tab-pane .widget .widget-title { color: #dd9716; }
.ct-menuSection .ct-topSection .ct-menuList li a:hover span, .ct-menuSection .ct-topSection .ct-menuList li a:focus span, .ct-menuSection .ct-topSection .ct-menuList li a:active span, .ct-menuSection .ct-topSection .ct-menuList li a.active span { color: #dd9716; }
.ct-menuSection .ct-topSection .ct-menuList li.active span { color: #dd9716; }
.ct-menuSection .ct-bottomSection .ct-tabsContent .ct-leftSide .ct-leftSide-inside > ul.ct-menuRestaurant li:hover a, .ct-menuSection .ct-bottomSection .ct-tabsContent .ct-leftSide .ct-leftSide-inside > ul.ct-menuRestaurant li:focus a, .ct-menuSection .ct-bottomSection .ct-tabsContent .ct-leftSide .ct-leftSide-inside > ul.ct-menuRestaurant li:active a { color: #dd9716; }
.ct-menuSection .ct-bottomSection .ct-tabsContent .ct-leftSide .ct-leftSide-inside > ul.ct-menuRestaurant li.active a { color: #dd9716; }
.pagination > li.active a { background-color: #dd9716; }
.pagination > li.active a:hover, .pagination > li.active a:active, .pagination > li.active a:focus { background-color: #dd9716; }
.pagination li a:hover, .pagination li a:active { background-color: #dd9716; }
.pagination li a:focus { background-color: #1b1b1c; color: #fff; }
ul.ct-socials li a:hover, ul.ct-socials li a:focus, ul.ct-socials li a:active { background-color: #dd9716; }
.ct-menuMobile { background-color: #dd9716; }
.ct-menuMobile .ct-menuMobile-navbar > .dropdown.open .dropdown-menu li a:hover, .ct-menuMobile .ct-menuMobile-navbar > .dropdown.open .dropdown-menu li a:focus, .ct-menuMobile .ct-menuMobile-navbar > .dropdown.open .dropdown-menu li a:active { background-color: #dd9716; }
.ct-button { background-color: #dd9716; }
.ct-gallerySection .ct-topContent .ct-imageComponent .ct-gallery-filters li a:hover, .ct-gallerySection .ct-topContent .ct-imageComponent .ct-gallery-filters li a:focus { color: #dd9716; }
.ct-gallerySection .ct-topContent .ct-imageComponent .ct-gallery-filters li a:hover span, .ct-gallerySection .ct-topContent .ct-imageComponent .ct-gallery-filters li a:focus span { color: #dd9716; }
.ct-gallerySection .ct-topContent .ct-imageComponent .ct-gallery-filters li a.active { color: #dd9716; }
.ct-gallerySection .ct-topContent .ct-imageComponent .ct-gallery-filters li a.active:hover, .ct-gallerySection .ct-topContent .ct-imageComponent .ct-gallery-filters li a.active:focus { color: #dd9716; }
.lg-actions .lg-next:hover, .lg-actions .lg-prev:hover { color: #dd9716; }
.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover { border-color: #dd9716; }
.lg-progress-bar .lg-progress { background-color: #dd9716; }
.datepicker.dropdown-menu { background-color: #dd9716; }
.ct-tweet .tweet_list li p .tweet_user { color: #dd9716; }
.ct-infoBox .ct-infoBox-tel { color: #dd9716; }
.ct-iconHeader i { color: #dd9716; }
.ct-slickBox.ct-js-slick .slick-dots li.slick-active button:before { color: #dd9716; }
.ct-slickBox.ct-js-slick .slick-dots li:active button:before, .ct-slickBox.ct-js-slick .slick-dots li:hover button:before, .ct-slickBox.ct-js-slick .slick-dots li:focus button:before {  color: #dd9716; }
.ct-bookTable .ct-bookTable-form { background-color: #dd9716; }
article.ct-article .ct-article-content ul.ct-article-tags li a:hover, article.ct-article .ct-article-content ul.ct-article-tags li a:focus, article.ct-article .ct-article-content ul.ct-article-tags li a:active { color: #dd9716; }
article.ct-article .ct-article-content .ct-article-title:hover, article.ct-article .ct-article-content .ct-article-title:focus, article.ct-article .ct-article-content .ct-article-title:active { color: #dd9716; }
article.ct-article .ct-article-content .ct-article-readMore:hover, article.ct-article .ct-article-content .ct-article-readMore:focus, article.ct-article .ct-article-content .ct-article-readMore:active { color: #dd9716; }
article.ct-article.ct-article--single .ct-article-content--single ul .ct-article-tags li:hover a, article.ct-article.ct-article--single .ct-article-content--single ul .ct-article-tags li:focus a, article.ct-article.ct-article--single .ct-article-content--single ul .ct-article-tags li:active a {  color: #dd9716; }
.ct-buttonComponents li a:hover, .ct-buttonComponents li a:focus, .ct-buttonComponents li a:active { color: #dd9716; }
.ct-navigation .ct-previous a:hover, .ct-navigation .ct-previous a:focus, .ct-navigation .ct-previous a:active { color: #dd9716; }
.ct-navigation .ct-next a:hover, .ct-navigation .ct-next a:focus, .ct-navigation .ct-next a:active { color: #dd9716; }
.ct-comments li .mediaBox .mediaBox-body .mediaBox-inner-body span.ct-replyButton a { color: #dd9716; }
.ct-comments li .mediaBox .mediaBox-body .mediaBox-inner-body span.ct-replyButton a:hover, .ct-comments li .mediaBox .mediaBox-body .mediaBox-inner-body span.ct-replyButton a:focus, .ct-comments li .mediaBox .mediaBox-body .mediaBox-inner-body span.ct-replyButton a:active { color: #dd9716; }
ol.breadcrumb li.active { color: #dd9716; }
ol.breadcrumb li:hover, ol.breadcrumb li:focus, ol.breadcrumb li:active { color: #dd9716; }
.ct-contactList li a:hover, .ct-contactList li a:focus, .ct-contactList li a:active { color: #dd9716; }
.ct-comments li .mediaBox .mediaBox-body .mediaBox-inner-body .media-heading a:hover, .ct-comments li .mediaBox .mediaBox-body .mediaBox-inner-body .media-heading a:focus, .ct-comments li .mediaBox .mediaBox-body .mediaBox-inner-body .media-heading a:active { color: #dd9716; }
.ct-modal span:hover:after, .ct-modal span:focus:after {  color: #dd9716; }
.ct-menuSection .ct-bottomSection .ct-tabsContent .ct-rightSide .ct-rightSideContent .ct-content { margin-top: 0; }
.ct-menuSection .ct-bottomSection .ct-tabsContent .ct-leftSide .ct-leftSide-inside > ul.ct-menuRestaurant:after { top: 0; }












